###################################
#
#    src Knoblauch ".gitignore"
#
###################################

###################################
#    Executables
###################################
Knoblauch
Schnittlauch

###################################
#    Object and static object files
###################################
*.[ao]

###################################
#    Dependency information
###################################
*.d

###################################
#    core files
###################################
core.*

###################################
#    gcc profile outputs
###################################
gmon.out
